@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  user-select: none;
  font-family: 'Rubik', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  letter-spacing: 2px;
}

header {
  background-color: #602d1d;
}